[
{% for item in cores.Instances %}
{
    "private_dns_name": "core{{loop.index}}",
    "id": "{{ item.Ec2InstanceId }}",
    "private_dns": "{{ item.PrivateDnsName }}",
    "private_ip": "{{ item.PrivateIpAddress }}",
    "public_dns": "{{ item.PublicDnsName }}",
    "public_ip": "{{ item.PublicIpAddress }}",
    "status": "{{item.Status.State}}"
}
{% endfor %}
]