set :install_dir,  "/opt/hypertable"
set :hypertable_version, "0.9.8.0"
set :default_pkg, "/home/hadoop/hypertable-0.9.8.0-linux-x86_64.rpm"
set :default_fs, "mapr"
set :default_distro, "cdh4"
set :default_config, "/opt/hypertable/hypertable.cfg"

role :source, "master1"
role :master, "master1"
role :hyperspace, "core1"
role :slave, "task1", "task2"